<nav class="navbar navbar-light bg-light">
  <form class="form-inline">
    <button id="linkPagoImpuestoPredial" routerLink="./" routerLinkActive="active"
    [routerLinkActiveOptions]="{ exact: true }" class="btn btn-sm btn-outline-success ml-4" type="button">Listar Pagos Impuesto Predial</button>
    <button id="linkCrearPagoImpuestoPredial" routerLink="./crear" routerLinkActive="active" class="btn btn-sm btn-outline-success ml-4" type="button">Pagar impuesto predial</button>
  </form>
</nav>

<router-outlet></router-outlet>