<nav class="navbar navbar-light bg-light">
  <form class="form-inline">
    <button id="linkListarPagoImpuestoPredial" routerLink="./" routerLinkActive="active"
    [routerLinkActiveOptions]="{ exact: true }" class="btn btn-sm btn-outline-success ml-4" type="button">Listar Pagos Impuesto Predial</button>
    <button id="linkConsultarPagoImpuestoPredial" routerLink="./consultar" routerLinkActive="active" class="btn btn-sm btn-outline-success ml-4" type="button">Consultar pagos pendientes</button>
  </form>
</nav>

<router-outlet></router-outlet>