<nav class="navbar navbar-light bg-light">
    <form class="form-inline">
      <button id="linkPropietario" routerLink="./" routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }" class="btn btn-sm btn-outline-success ml-4" type="button">Listar Propietario</button>
      <button id="linkCrearPropietario" routerLink="./crear" routerLinkActive="active" class="btn btn-sm btn-outline-success ml-4" type="button">Crear Propietario</button>
    </form>
  </nav>

<router-outlet></router-outlet>