<div class="container-fluid mt-2">

  <div class="row">
    <div class="col-lg-8">
      <div class="card">

        <h5 class="card-header">{{titulo}} Tarifa</h5>
        <div class="card-body">
          <form [formGroup]="tarifaForm" (ngSubmit)="realizarAccionBotonGuardar()" #ngForm="ngForm">

            <div class="row">
              <div class="col">
                <label for="nombre">Avaluo Minimo:</label>
                <input validar formControlName="avaluoMinimo" name="avaluoMinimo" id="avaluoMinimo" type="number"
                  class="form-control" required  />
              </div>

              <div class="col">
                <label for="correo">avaluo Maximo:</label>
                <input validar formControlName="avaluoMaximo" name="avaluoMaximo" id="avaluoMaximo" type="number"
                  class="form-control">
              </div>
            </div>

            <br>

            <div class="row">
              <div class="col">
                <label for="telefono">Valor Tarifa:</label>
                <input validar formControlName="tarifa" name="tarifa" id="tarifa" type="number" class="form-control" required>
              </div>

              <div class="col">
                <label for="cedula">Año:</label>
                <input validar formControlName="anio" name="anio" id="anio" type="number" class="form-control" required>
              </div>
            </div>

            <br>


            <div class="mt-2 text-center">
              <button type="submit" class="btn btn-primary mr-4" id="registrar">
                <i class="fa fa-save"></i> Guardar
              </button>

              <button type="button" class="btn btn-secondary" (click)="regresar()">
               Regresar
              </button>

            </div>

          </form>
        </div>
      </div>
    </div>
  </div>
</div>