<div class="row">
  <div class="col-lg-12">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">{{titulo}} Tarifa</h4>
        <form class="form p-t-20" [formGroup]="tarifaForm" (ngSubmit)="realizarAccionBotonGuardar()" #ngForm="ngForm">

          <div class="row">
            <div class="col">
              <label for="nombre">Avaluo Minimo:</label>
              <input formControlName="avaluoMinimo" name="avaluoMinimo" id="avaluoMinimo" type="number"
                class="form-control" required />
              <!-- <div class="form-control-feedback text-danger"
                *ngIf="erroresService.errores(tarifaForm, 'avaluoMinimo', ngForm).hayErrores">
                Debe ingresar un avaluo Minimo
              </div>-->
            </div>

            <div class="col">
              <label for="correo">avaluo Maximo:</label>
              <input formControlName="avaluoMaximo" name="avaluoMaximo" id="avaluoMaximo" type="number"
                class="form-control">
              <!-- <div class="form-control-feedback text-danger"
                *ngIf="erroresService.errores(tarifaForm, 'correo', ngForm).hayErrores">
                Debe ingresar un avaluo Maximo
              </div> -->
            </div>
          </div>

          <br>

          <div class="row">
            <div class="col">
              <label for="telefono">Valor Tarifa:</label>
              <input formControlName="tarifa" name="tarifa" id="tarifa" type="number" class="form-control"
                required>
              <!-- <div class="form-control-feedback text-danger"
                *ngIf="erroresService.errores(tarifaForm, 'telefono', ngForm).hayErrores">
                Debe ingresar un valor tarifa
              </div>-->
            </div>

            <div class="col">
              <label for="cedula">Año:</label>
              <input formControlName="anio" name="anio" id="anio" type="number" class="form-control" required>
              <!-- <div class="form-control-feedback text-danger"
                *ngIf="erroresService.errores(tarifaForm, 'cedula', ngForm).hayErrores">
                Debe ingresar un número de cédula
              </div> -->
            </div>
          </div>

          <br>

      
          <div class="row mt-2">
            <button type="button" class="btn btn-danger mr-2" (click)="regresar()">
              <i class="fa fa-undo"></i> Regresar
            </button>
            <button type="submit" class="btn btn-primary" id="registrar">
              <i class="fa fa-save"></i> Guardar
            </button>
          </div>

        </form>
      </div>
    </div>
  </div>
</div>